<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.soundtouch.main_library" android:versionName="2.5"
  android:versionCode="1" android:installLocation="auto">

  <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="17"/>

</manifest>

